<%- include("partials/header") %>
<main>
    <h1>My GitHub Contributions</h1>
    <p>Here is a summary of my recent contributions on GitHub.</p>
    <!-- GitHub Contributions Widget -->
    <iframe src="https://ghbtns.com/github-btn.html?user=<YOUR_GITHUB_USERNAME>&repo=<YOUR_REPO_NAME>&type=activity&count=true"
            width="800" height="600" frameborder="0" scrolling="0" style="border: none;"></iframe>
</main>

